<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>SiteServlet</display-name>
    <servlet-name>SiteServlet</servlet-name>
    <servlet-class>com.teamwrkr.app.servlet.SiteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SiteServlet</servlet-name>
    <url-pattern>/SiteServlet</url-pattern>
  </servlet-mapping>
  <display-name>tw1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <res-ref-name>jdbc/teamwrkrDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>FileUploadServlet</display-name>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>com.teamwrkr.app.servlet.FileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/FileUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PopupServlet</display-name>
    <servlet-name>PopupServlet</servlet-name>
    <servlet-class>com.teamwrkr.app.servlet.PopupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PopupServlet</servlet-name>
    <url-pattern>/PopupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.teamwrkr.app.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SurveyServlet</display-name>
    <servlet-name>SurveyServlet</servlet-name>
    <servlet-class>com.teamwrkr.app.servlet.SurveyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SurveyServlet</servlet-name>
    <url-pattern>/SurveyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RolodexServlet</display-name>
    <servlet-name>RolodexServlet</servlet-name>
    <servlet-class>com.teamwrkr.app.servlet.RolodexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RolodexServlet</servlet-name>
    <url-pattern>/RolodexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OpportunityServlet</display-name>
    <servlet-name>OpportunityServlet</servlet-name>
    <servlet-class>com.teamwrkr.app.servlet.OpportunityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpportunityServlet</servlet-name>
    <url-pattern>/OpportunityServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>SessionTimeoutFilter</display-name>
    <filter-name>SessionTimeoutFilter</filter-name>
    <filter-class>com.teamwrkr.app.filter.SessionTimeoutFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SessionTimeoutFilter</filter-name>
    <url-pattern>/SiteServlet</url-pattern>
  </filter-mapping>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>CRMServlet</display-name>
    <servlet-name>CRMServlet</servlet-name>
    <servlet-class>com.teamwrkr.app.servlet.CRMServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CRMServlet</servlet-name>
    <url-pattern>/CRMServlet</url-pattern>
  </servlet-mapping>
</web-app>